# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UNITY_LEARN_data_persistence.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
